@font-face {
    font-family: 'poppins';
    src: url(/fonts/Poppins-Thin.ttf),
    url(/fonts/Poppins-Thin.woff);
    font-style: normal;
    font-weight: 100;
    
}
@font-face {
    font-family: 'poppins';
    src: url(/fonts/Poppins-Light.ttf),
    url(/fonts/Poppins-Light.woff);
    font-style: normal;
    font-weight: 300;
    
}
@font-face {
    font-family: 'poppins';
    src: url(/fonts/Poppins-Regular.ttf),
    url(/fonts/Poppins-Regular.woff);
    font-style: normal;
    font-weight: 400;
    
}
@font-face {
    font-family: 'poppins';
    src: url(/fonts/Poppins-Medium.ttf),
    url(/fonts/Poppins-Medium.woff);
    font-style: normal;
    font-weight: 500;
    
}
@font-face {
    font-family: 'poppins';
    src: url(/fonts/Poppins-SemiBold.ttf),
    url(/fonts/Poppins-SemiBold.woff);
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'poppins';
    src: url(/fonts/Poppins-Bold.ttf),
    url(/fonts/Poppins-Bold.woff);
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'poppins';
    src: url(/fonts/Poppins-ExtraBold.ttf),
    url(/fonts/Poppins-ExtraBold.woff);
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'poppins';
    src: url(/fonts/Poppins-Black.ttf),
    url(/fonts/Poppins-Black.woff);
    font-style: normal;
    font-weight: 900;
}



